@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Password Reset";
}

<h3>@ViewData["Title"]</h3>

<ul class="nav nav-pills nav-fill  py-4">
    <li class="nav-item">
        <a asp-controller="Manage" asp-action="AccountDetails" class="nav-link">Account</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Manage" asp-action="ChangePassword" class="nav-link active">Password</a>
    </li>
</ul>

<partial name="_StatusMessage" />

<form asp-controller="Manage" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group text-muted">
        <small>
            <label asp-for="OldPassword"></label>
        </small>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group text-muted">
        <small>
            <label asp-for="NewPassword"></label>
        </small>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group text-muted">
        <small>
            <label asp-for="ConfirmPassword"></label>
        </small>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group  pt-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Update password</button>
    </div>
</form>