@model IEnumerable<GroupsViewModel>

@if (!Model.Any())
{
    <p>No Groups exist</p>
}
else
{
<div class="container table-responsive">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Goup Name</th>
                <th class="text-center">Membership Count</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.GroupName</td>
                <td  class="text-center">@item.MembershipCount</td>
                <td nowrap  class="text-right pr-3">
                    <a asp-controller="Admin" asp-action="GroupMembers" asp-route-groupName="@item.GroupName" title="Edit Membership" data-keyboard="true" data-toggle="tooltip" class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}