@if (TempData["StatusMessage"] != null)
{
    var statusMessageClass = TempData["StatusMessage"].ToString().StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["StatusMessage"]
    </div>
}