@{
    ViewBag.Title = "Not Found";
}

<h4>
    An error occured while processing your request.
</h4>

<hr />

<div class="alert alert-danger">
    <h5>Error Message</h5>
    <hr />
    <p>@ViewBag.ErrorMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Path</h5>
    <hr />
    <p>@ViewBag.Path</p>
</div>

<div class="alert alert-danger">
    <h5>Query String</h5>
    <hr />
    <p>@ViewBag.QS</p>
</div>